.canvas-draw {
    position: relative;
    height: 100%;
    .operate-btns {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 100;
      padding: 10px;
    }
    .sp-label {
      margin: 0 10px;
      color: #333;
      font-size: 13px;
    }
    #canvasDom-back {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
    }
    #canvasDom {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
    }
    .screen-shot-img {
      display: block;
      left: 50%;
      top: 20%;
      position: absolute;
      z-index: -2;
      visibility: hidden;
    }
    .input-content {
      display: none;
      position: absolute;
      z-index: 5;
      border:1px solid #d0d0d0;
      #editroContent {
        height:100%;
        ::v-deep.w-e-text-container {
          background: none;
          padding: 0;
        }
        ::v-deep .w-e-scroll>div {
          background: none;
          padding: 0;
        }
        ::v-deep p {
          margin: 3px 0;
        }
      }
    }
  }